#Game {
  height: 100%;

  margin-top: -7.2rem;
  margin-bottom: -4.2rem;

  padding-top: 8.2rem;
  padding-bottom: 5.4rem;
}

#Game #Board {
  --size: 256px;

  background: red;

  width: var(--size);
  height: var(--size);
}