* {
  margin: 0;
  border: 0;
  padding: 0;

  box-sizing: border-box;
  overflow: hidden;

  scrollbar-width: none;
  user-select: none;
}

html, body, #root {
  width: 100%;
  height: 100%;
  color: #776E65;
}

.center {
  display: grid;
  place-items: center;
}

#App {
  width: 100%;
  height: 100%;
  background: #FAF8EF;
}

#Game {
  height: 100%;

  margin-top: -7.2rem;
  margin-bottom: -4.2rem;

  padding-top: 8.2rem;
  padding-bottom: 5.4rem;
}

#Game #Board {
  margin: 1%;
  padding: 1%;

  display: grid;

  background: #BBADA0;
  border-radius: 0.5rem;

  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 33.33% 33.33% 33.33%;
}

#Game .wrap {
  padding: 5px;
}

#overlay {
  background:rgba(238, 228, 218, 0.73);
  position: absolute;
  border-radius: 0.5rem;
}

#overlay p {
  font-family: 'clear-sans', sans-serif;
  font-weight: 300;
  text-align: center;
  font-size: 2rem;
}

#overlay p strong {
  font-weight: 400;
}

#overlay button {
  color: #e6e4dc;
  background: #BBADA0;

  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.4rem;

  font-weight: 500;
  font-size: 1rem;

  text-align: center;
  text-decoration: none;
}

#info p {
  font-family: 'clear-sans', sans-serif;
  font-weight: 300;
  
  padding: 1.2rem;
}

#info p strong {
  font-weight: 400;
}

#Tile {
  background: #CDC1B4;
  border-radius: 0.5rem;
  margin: 4%;

  font-family: 'clear-sans', sans-serif;
  font-weight: 400;
  font-size: 4rem;
  text-align: center;
}

#Header h1 {
  font-family: 'clear-sans', sans-serif;
  font-weight: 800;
  font-size: 3rem;
  padding-top: 1rem;
}

#Footer {
  font-family:  'clear-sans', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
}

#Footer a {
  color: #776E65;
  text-decoration: none;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#Footer li {
  display: inline;
}

#Footer li + li:before {
  content: " - ";
}

#Bar {
  border-top: 1px solid #aaaaaa;
  margin: 1rem 4rem;

  width: calc(100% - 12rem);
  max-width: 28rem;
  min-width: 12rem;
}
